@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    font-family: 'Work Sans', sans-serif;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;

}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

.section-title {
    font-size: 45px;
    font-weight: 700;
    color: #131313;
}

/* share style  */
.text-lite-gray {
    font-size: 16px;
    font-weight: 400;
    color: #727272;

    /* banner style*/
    .banner-content {
        max-width: 800px;
        text-align: center;
        margin: 0 auto;

    }

    banner-title {
        font-size: 64px;
        font-weight: 700px;
        color: #131313;
    }

}

.button-primary {
    color: #FFF;
    font-size: 20px;
    border-radius: 8px;
    font-weight: 600;
    background-color: #FF900E;
    padding: 20px 25px;
}

.banner img {
    width: 100%;
    margin-top: 20px;
}

/* main style  */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* teams style  */
.teams-container {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding-left: 70px;
    padding-right: 70px;
}

.teams-title {
    font-size: 45px;
}

.teams-title .quick-list {
    color: #727272;
    font-weight: 500;
}

.teams-title .text-featured {
    color: #FF900E;
    font-weight: 700;
}

/* fact card container  */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-title{
    font-size: 20px;
    font-weight: 600;
    color: #727272;
    margin-top: 5px;
}
.facts-card-container .card-stats{
    font-size: 45px;
    /* font-weight: 600;  */
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* sponsors style  */
.sponsors{
    text-align: center;
}
.sponsor-img-cointainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    gap: 10px;
}
.sponsor-img-cointainer img{
    width: 165px;
}














/* responsive media queary/\ */
/* mobile phone  */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-container,
    .facts-card-container,
    .sponsor-img-cointainer {
        flex-direction: column;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }
    .facts-card-container{
        gap: 20px;
    }

}

/* medium devices  */
@media screen and (min-width:577px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    nav,
    .teams-container {
        flex-direction: column;
    }
}